prometheusOperator:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 128Mi
prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: 200Mi
grafana:
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 200m
      memory: 256Mi
  admin:
    existingSecret: "monitoring-secret"
    userKey: GRAFANA_USERNAME
    passwordKey: GRAFANA_PASSWORD
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      folder: /var/lib/grafana/dashboards
      updateIntervalSeconds: 10
      folderAnnotation: grafana_folder
      provider:
        allowUiUpdates: true
        foldersFromFilesStructure: true
      alertmanager:
        enabled: false
alertmanager:
  enabled: false
  alertmanagerSpec:
    replicas: 1
    alertmanagerConfigSelector:
      matchLabels:
        release: monitoring
    alertmanagerConfigMatcherStrategy:
      type: None
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 50m
        memory: 64Mi
nodeExporter:
  operatingSystems:
    linux:
      enabled: true
    aix:
      enabled: false
    darwin:
      enabled: false
