prometheusOperator:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 128Mi
grafana:
  operator:
    dashboardsConfigMapRefEnabled: false
    matchLabels:
      app: grafana
    resyncPeriod: 10m
  admin:
    existingSecret: "monitoring-secret"
    userKey: GRAFANA_USERNAME
    passwordKey: GRAFANA_PASSWORD
  sidecar:
    dashboards:
      alertmanager:
        enabled: false
alertmanager:
  enabled: false
  alertmanagerSpec:
    replicas: 1
    alertmanagerConfigSelector:
      matchLabels:
        release: monitoring
    alertmanagerConfigMatcherStrategy:
      type: None
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 50m
        memory: 64Mi
