---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- target:
    kind: StatefulSet
    name: elasticsearch-master
    namespace: elasticsearch
  patch: |-
    - op: replace
      path: "/spec/template/spec/containers/0/env/6"
      value:
        name: ELASTIC_PASSWORD
        valueFrom:
          secretKeyRef:
            name: elasticsearch-secret
            key: ES_PASSWORD
