---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- secret.yaml
- helmrepository.yaml
- helmrelease.yaml
- dashboard-go-processes.yaml
configMapGenerator:
  - name: kube-prometheus-stack-values
    namespace: monitoring
    options:
      disableNameSuffixHash: true
    files:
      - values.yaml=../../../values/kube-prometheus-stack.yaml
