---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- secret.yaml
- helmrepository.yaml
- helmrelease.yaml
configMapGenerator:
  - name: eck-operator-values
    namespace: elastic-system
    options:
      disableNameSuffixHash: true
    files:
      - values.yaml=../../../values/eck-operator.yaml
  - name: kibana-values
    namespace: elastic-stack
    options:
      disableNameSuffixHash: true
    files:
      - values.yaml=../../../values/kibana.yaml
  - name: elasticsearch-values
    namespace: elastic-stack
    options:
      disableNameSuffixHash: true
    files:
      - values.yaml=../../../values/elasticsearch.yaml
