---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- secret.yaml
- helmrepository.yaml
- helmrelease.yaml
configMapGenerator:
  - name: kibana-values
    namespace: elasticsearch
    options:
      disableNameSuffixHash: true
    files:
      - values.yaml=../../../values/kibana.yaml
  - name: elasticsearch-values
    namespace: elasticsearch
    options:
      disableNameSuffixHash: true
    files:
      - values.yaml=../../../values/elasticsearch.yaml
patches:
  - target:
      kind: StatefulSet
      name: elasticsearch-master
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: ELASTIC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: elasticsearch-secret
              key: ES_PASSWORD
