---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pgadmin-ingress
  namespace: database
spec:
  ingressClassName: tailscale
  tls:
    - hosts:
      - pgadmin
  defaultBackend:
    service:
      name: pgadmin-svc
      port:
        number: 8080
