---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pgadmin-ingress
  namespace: database
spec:
  defaultBackend:
    service:
      name: pgadmin-svc
      port:
        number: 8081
  ingressClassName: tailscale
  tls:
    - hosts:
        - pgadmin
