---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin-svc
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: pgadmin
spec:
  type: ClusterIP
  selector:
    app: pgadmin
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
