---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin-svc
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: pgadmin
spec:
  type: LoadBalancer
  selector:
    app: pgadmin
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 80
