---
apiVersion: v1
kind: Service
metadata:
  name: "{{ .Values.name }}-svc"
  labels:
    app: "{{ .Values.name }}-svc"
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.name | quote }}
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: metrics
      protocol: TCP
      port: 2112
      targetPort: 2112
