---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- secret.yaml
- helmrepository.yaml
- helmrelease.yaml
configMapGenerator:
  - name: jaeger-values
    namespace: tracing
    options:
      disableNameSuffixHash: true
    files:
      - values.yaml=../../../values/jaeger.yaml
